.button {
  width: 8rem;
  height: 2rem;
  background-color: red;
  border-radius: 0.5rem;
  border: 0.1rem solid bisque;
  color: #fff;
  cursor: pointer;
  justify-content: center;
  text-align: center;
}

.button:hover {
  background-color: darkred;
}

.remove {
  border: 0;
  background-color: white;
  text-align: right;
  font-weight: 700;
  flex: 0 0 20px;
}
